<DIV class="index" id="welcome_index">
  <h1>Salimos?</h1>
  <%= link_to "Personas", controller: "personas" %><BR>
  <%= link_to "Restaurantes", controller: "restaurantes" %><BR>
  <%= link_to "Productos", controller: "productos" %></BR>
	<%= link_to "Salidas", controller: "salidas" %><BR>
</DIV>
